# Tuples

* Tuples are same as lists but immutable.
* Tuples are immutable sequence of objects of any type.
* You can create tuples by using constructor method or by using parentheses.

In [1]:
names = tuple(['tim','john','amanda','charlie'])

In [2]:
names

('tim', 'john', 'amanda', 'charlie')

In [3]:
type(names)

tuple

In [4]:
names = ('tim','john','amanda','charlie')

In [5]:
type(names)

tuple

In [6]:
names[0] = 'aman'

TypeError: 'tuple' object does not support item assignment

In [11]:
names[:-2]

('tim', 'john')

In [12]:
indians = ('deepak','himanshu','aman')

In [13]:
names + indians

('tim', 'john', 'amanda', 'charlie', 'deepak', 'himanshu', 'aman')

In [14]:
all_names = _

In [15]:
all_names

('tim', 'john', 'amanda', 'charlie', 'deepak', 'himanshu', 'aman')

In [16]:
coordinate = (10, 30)

In [17]:
x ,y = coordinate

In [18]:
x

10

In [19]:
y

30

In [22]:
my_tup = (1,)

In [23]:
type(my_tup)

tuple

In [24]:
len(my_tup)

1

In [26]:
'aman' in all_names

True

In [27]:
'sam' in all_names

False