# Sets in python

* Sets are unordered collection of distinct hashable objects.
* In python all types of immutable objects are hashable objects.
* There are two types of sets in python one is just ‘Set’ and another is ‘Frozenset’.
* Frozen sets are immutable, in contrast normal sets are mutable.
* You can create sets using set constructor or by adding values withing curly brackets.

In [3]:
names = set(['tim', 'john', 'amanda', 'charlie'])

In [4]:
type(names)

set

In [5]:
names

{'amanda', 'charlie', 'john', 'tim'}

In [6]:
names = {'amanda', 'charlie', 'john', 'tim'}

In [7]:
type(names)

set

In [9]:
names = {'amanda', 'charlie', 'john', 'tim', 'amanda'}

In [10]:
names

{'amanda', 'charlie', 'john', 'tim'}

In [11]:
names.add('jack')

In [12]:
names

{'amanda', 'charlie', 'jack', 'john', 'tim'}

In [13]:
names.remove('jack')

In [14]:
names

{'amanda', 'charlie', 'john', 'tim'}

In [16]:
indians = {'aman', 'deepak', 'himanshu'}

In [17]:
indians

{'aman', 'deepak', 'himanshu'}

In [18]:
names.union(indians)

{'aman', 'amanda', 'charlie', 'deepak', 'himanshu', 'john', 'tim'}

In [19]:
names.update(indians)

In [20]:
names

{'aman', 'amanda', 'charlie', 'deepak', 'himanshu', 'john', 'tim'}

In [21]:
persons = {'aman', 'amanda','john'}

In [22]:
names - persons

{'charlie', 'deepak', 'himanshu', 'tim'}

In [23]:
persons = {'aman', 'amanda','john', 'ram'}

In [24]:
names.union(persons)

{'aman', 'amanda', 'charlie', 'deepak', 'himanshu', 'john', 'ram', 'tim'}

In [25]:
names + persons

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [26]:
words = 'My name is aman.'

In [27]:
unique = set(words)

In [28]:
unique

{' ', '.', 'M', 'a', 'e', 'i', 'm', 'n', 's', 'y'}

In [29]:
len(unique)

10

In [31]:
f = frozenset(['aman', 'amanda','john', 'ram'])

In [32]:
f

frozenset({'aman', 'amanda', 'john', 'ram'})

In [33]:
type(f)

frozenset