# Lists

In [1]:
name = ['aman', 'jack', 'sam']

type(name)

list

In [6]:
name[:-1]

['aman', 'jack']

In [7]:
name[0] = 'ram'

In [8]:
name

['ram', 'jack', 'sam']

In [9]:
name + ['orange', 'banana']

['ram', 'jack', 'sam', 'orange', 'banana']

In [10]:
new_list = _

In [11]:
new_list

['ram', 'jack', 'sam', 'orange', 'banana']

In [12]:
new_list.reverse()

In [13]:
new_list

['banana', 'orange', 'sam', 'jack', 'ram']

In [14]:
new_list.sort()

In [15]:
new_list

['banana', 'jack', 'orange', 'ram', 'sam']

In [17]:
new_list.reverse()

In [18]:
new_list

['sam', 'ram', 'orange', 'jack', 'banana']

In [22]:
sorted(new_list)

['banana', 'jack', 'orange', 'ram', 'sam']

In [23]:
sorted_list = sorted(new_list)

In [24]:
sorted_list

['banana', 'jack', 'orange', 'ram', 'sam']

In [25]:
new_list

['sam', 'ram', 'orange', 'jack', 'banana']

In [26]:
len(new_list)

5

In [27]:
new_list.append("mango")

In [28]:
new_list

['sam', 'ram', 'orange', 'jack', 'banana', 'mango']

In [29]:
new_list.pop()

'mango'

In [30]:
new_list

['sam', 'ram', 'orange', 'jack', 'banana']

In [31]:
new_list.insert(2, "shyam")

In [32]:
new_list

['sam', 'ram', 'shyam', 'orange', 'jack', 'banana']

In [33]:
new_list.remove("orange")

In [34]:
new_list

['sam', 'ram', 'shyam', 'jack', 'banana']

In [1]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

### List Methods

Method | Description
:------------ | :-------------
append()|	Adds an element at the end of the list
clear()|	Removes all the elements from the list
copy()|	Returns a copy of the list
count()|	Returns the number of elements with the specified value
extend()|	Add the elements of a list (or any iterable), to the end of the current list
index()|	Returns the index of the first element with the specified value
insert()|	Adds an element at the specified position
pop()|	Removes the element at the specified position
remove()|	Removes the item with the specified value
reverse()|	Reverses the order of the list
sort()|	Sorts the list